<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<div th:fragment="header">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3">

			<div class="container mt-3">
				<!-- Brand/logo -->
				<a class="navbar-brand" href="/">HOME(Board)</a>

				<!-- Links -->
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/insert">BoardInsert</a></li>
					<li class="nav-item"><a class="nav-link" href="/list">BoardList</a></li>
				</ul>

				<ul class="navbar-nav" th:if="${session.sMember ==null}">
						<li class="nav-item"><a class="nav-link" href="/member/login">로그인</a></li>
						<li class="nav-item"><a class="nav-link" href="/member/join">회원가입</a></li>
				</ul>
				<ul class="navbar-nav" th:if="${session.sMember}">
						<li class="nav-item">
							<a class="nav-link" href="/member/logout">로그아웃([[${session.sMember.name}]])</a></li>
						<li class="nav-item"><a class="nav-link" href="/member/memberList">회원리스트</a></li>
				</ul>
			</div>
		</nav>


	</div>