<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
	<div class="container mt-3">
		<h2>Member([[${count}]])</h2>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>NAME</th>
					<th>ADDR</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board :${boards}">
					<td th:text="${board.num}"></td>
					<td><a th:href="'/view/'+${board.num}">[[${board.title}]]</a></td>
					<td th:text="${board.writer}"></td>
					<td>[[${#dates.format(board.regdate,'yyyy-MM-dd')}]]</td>
					<!--	<td th:text="${#dates.format(board.regdate,'yyyy-MM-dd')}"></td>-->
					<td th:text="${board.hitcount}"></td>
				</tr>
			</tbody>
		</table>
	</div>