<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<div layout:fragment="content">
	<div class="container mt-3">
		<form action="login" method ="post">
			<div class="form-group">
				<label for="id">ID:</label> <input type="text" class="form-control" id="id" placeholder="Enter id"
					name="id">
			</div>
			<div class="form-group">
				<label for="pass">Password:</label> <input type="password" class="form-control" id="pass"
					placeholder="Enter password" name="pass">
			</div>
			<button class="btn btn-primary" id="btnLogin">로그인</button>
		</form>
	</div>

</div>